@import url('https://fonts.googleapis.com/css?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

.display-5 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.display-6 {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.font-Itim {
    font-family: 'Itim', cursive;
}
.font-raleway {
    font-family: 'Raleway', sans-serif;
}